<div class="container-holder">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12  about-section">
        <h2 class="title-contact mb-4">
          We Do What we Know
        </h2>
        <img src="/public/images/office.jpg" class="float-right img-responsive ml-2" alt="profile">

        <p class="mb-5 about-inner-text">
          Imperial Glass TX is DFW's premier glass service and repair business serving residential and commercial
          clients with customer service, reliability and craftsmanship. As an LLC business, we maintain all required
          insurance, permits and licenses, so you can have the peace of mind of knowing you’ve chosen a professional
          and trustworthy partner.
          <br>
          <br>
          Our organization believes in faith, friendship and family, and will strive to strengthen all three elements
          in our employees, customers and business peers. We always seek to cultivate trust and reputation in all
          business relationships, both large and small.
          <br>
          <br>
          We are serious about our values. And in the context of those values we can tackle your whole project in a
          comprehensive customer focused way.
          Since 2001 Imperial Glass TX has served the Dallas, Fort Worth and Metroplex area with high quality products,
          materials and our professional services matched with our competitive prices.
        </p>



      </div>
    </div>
  </div>
</div>