<!-- SHOWCASE SLIDER -->

<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-5 banner my-5 p-5">
            <h1 class="font-weight-light">Glass Shower Doors and Enclosures</h1>
            <p class="text-light">We supply and install custom frameless shower doors, windows, store front doors,
              stairs railing and many more, take a look at out work throught the next link</p>
            <a class="btn btn-primary  text-white btn-lg" href="/services">See Projects</a>

          </div>
        </div>
      </div>
    </div>

  </div>
</header>

<div class="container my-5 px-0">
  <div class="row">
    <div class="col-8 ">
      <div class="thumbnail">
        <img src="/public/images/01.jpg" alt="..." />
        <div class="wrapper first-third">
          <div class="caption post-content py-4">

            <h3>Custom Frameless Shower Doors</h3>
            <a class="btn btn-primary  text-white btn-lg" href="#">See Projects</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-sm-12">
          <a href="/services">
            <div class="thumbnail">
              <img src="/public/images/portfolio-2.jpg" alt="..." />
              <div class="wrapper second-third">
                <div class="caption post-content">

                  <h3>Mirrors and glass replacement</h3>

                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 mt-4">
          <a href="/services">
            <div class="thumbnail">
              <img src="/public/images/door.jpg" alt="..." />
              <div class="wrapper third-third">
                <div class="caption post-content">

                  <h3>Commercial Front Doors</h3>

                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-2 my-5 text-white text-center py-5">
    <h2 class="text-white py-4">Let us be part of your next glass project!</h2>
    <h5 class="text-link">Get an online quote <a href="/contact" class="text-link">here</a></h5>
  </div>
  <div>
    <p class="text-inner"> Our organization believes in faith, friendship and family, and will strive to strengthen all
      three elements in
      our
      employees, customers and business peers. We always seek to cultivate trust and reputation in all business
      relationships, both large and small. For us, safety is a personal and professional commitment to proactively
      protecting the
      well-being of our employees, our contractors, our customers and the people of the communities in which we
      operate.
      We believe in building to positively impact communities, infrastructure, the economy, opportunity and employment.
      <a href="/about">Read More</a></p>
  </div>
</div>