@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400i');
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700');
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: black;
  background: transparent !important;
}

h1,
h2,
h3,
h4 {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
  color: rgba(0, 0, 0, 0.945);
}
.logo {
  position: absolute;
  left: 39%;
  width: 40px;
}
.navbar-brand {
  color: #c0b283a4 !important;
  font-family: 'Lobster Two', cursive !important;
  /* font-family: 'Lobster Two', cursive !important; */
  letter-spacing: 0.9px;
  /* text-decoration: underline; */
  font-size: 1.5rem;
  /* background: #5f5f5f; */
}
.subtitle-1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 7px;
  position: absolute;
  top: 57px;
  left: 20px;

  color: #ffffff !important;
}
.font-weight-light {
  font-family: 'Lobster Two', cursive !important;
  font-size: 3rem;
  color: #ffffff;
}
/* .contact {
  color: #1749a0 !important;
  font-size: 0.9rem;
} */
a:hover {
  text-decoration: none;
}
.navbar-brand > img {
  width: 200px;
}
/* .font-weight-light {
  color: white !important;
} */
.black {
  font-weight: 500;
  color: #949494 !important;
}
.nav-top > .nav-item > .nav-link > i {
  color: #000000 !important;
  font-size: 1.2rem;
}
.nav-top > .nav-item > .nav-link > span {
  color: #000000 !important;
  font-size: 0.8rem;
  margin-left: 5px;
}

.nav-top-1 > .nav-item > .nav-link > i {
  color: #c0b283 !important;
  font-size: 1.2rem;
}
.nav-top-1 > .nav-item > .nav-link > span {
  color: #c0b283 !important;
  font-size: 0.8rem;
  margin-left: 5px;
}
.fa-bars {
  color: #c0b283e3;
  border: none !important;
}

.quick-access {
  background: #f0f0ee;
}
.bluebg {
  background: #c0b283;
}
.bluebg-1 {
  background: #222222;
}
.custom-link {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
}
.phone {
  letter-spacing: 1px;
}

.border-gray {
  border: 1px solid lightgray;
}
.flat-grey {
  background: #4c6f98;
}
.text-dark-gray {
  color: #ffffff;
}
.flat-grey-text {
  color: #272727;
}
.card-text {
  color: #6e7376;
}
.card-title {
  color: #4c6f98;
}
/* .card {
  background: #696e71a6;
} */
/* .card1 {
  background: #4c6f98be;
}
.card2 {
  background: #95ced2;
}
.card3 {
  background: #709ebcaf;
} */

.text-link > a:hover {
  color: #ffffff;
}
.fa-facebook-square:hover,
.fa-envelope:hover,
.link-custom:hover,
.text-inner > a:hover {
  color: #c0b283;
}
.link-custom,
.text-inner > a,
.text-link > a {
  color: #000000;
  font-weight: bold;
}
.link-custom {
  font-size: 0.9rem;
}
.name {
  color: #c0b283;
}
.btn-primary {
  background: #c0b283;
  border: 1px solid #ffffff;
  color: rgb(255, 255, 255) !important;
  font-size: 1rem;
}
.btn-primary:hover {
  background: #ffffff;
  color: #c0b283 !important;
  border: none;
}
.text-light {
  color: rgba(255, 255, 255, 0.89) !important;
}

.second-nav {
  background: #222222;
  /* background: #ffffff; */
  /* border-bottom: 1px solid lightgray; */
}

#home-section {
  background: url('../images/bathroom.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
}

/* .home-inner {
  padding-top: 10px;
} */
.banner {
  background: #c0b283e3;
}

.bottom-nav > .nav-item > .nav-link {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.8px;
  color: #c0b283e3;
  text-transform: uppercase;
}
.bottom-nav > .nav-item > .nav-link:hover {
  color: #c0b283 !important;
}

.dark-overlay {
  background-color: #ffffff2a;
  min-height: 500px;
  /* position: absolute;
  top: 0;
  left: 0; */
  /* width: 100%;
  min-height: 400px; */
}

li {
  text-decoration: none;
  list-style: none;
}
.footer {
  background: #222222;
}

.thumbs {
  margin-top: 2rem;
}

.ul-footer {
  color: rgb(141, 141, 141);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  /* letter-spacing: 0.5px; */
}
.icons-footer {
  color: white;
  font-size: 1.5rem;
}
.ul-footer-a-1 a,
.ul-footer-a-1 > span {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
  background: black;
}

.ul-footer-a {
  color: rgb(209, 208, 208);
  font-size: 0.7rem;
}
.first-third > .post-content {
  background: none repeat scroll 0 0 #38383860;
  /* opacity: 0.5; */
  margin: 0 auto;
  margin-top: -120px;
  height: 120px;
  text-align: center;
  position: relative;
  width: 100%;
}
.second-third > .post-content {
  background: none repeat scroll 0 0 #38383860;

  /* opacity: 0.5; */
  margin: 0 auto;
  margin-top: -80px;
  height: 80px;
  text-align: center;
  position: relative;
  width: 100%;
}
.third-third > .post-content {
  background: none repeat scroll 0 0 #38383860;
  /* opacity: 0.5; */
  margin: 0 auto;
  margin-top: -80px;
  height: 80px;
  text-align: center;
  position: relative;
  width: 100%;
}
.post-content > h3 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.8px;
  font-size: 1.2rem;
  z-index: -1 !important;
}
.second-third > .post-content > h3,
.third-third > .post-content > h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  color: #ffffff;

  padding-top: 30px;
}

.thumbnail > img {
  width: 100%;
  /* margin: 0 auto; */
  text-align: center;
}
.banner-2 {
  height: 200px;

  background: #c0b283;
}
.banner-2 > .text-white {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #ffffff !important;
}
.text-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #000000;
}
.text-link a {
  text-decoration: underline;
}
.text-inner {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;

  color: #000000;
}

/* ----- CONTACT ---- */
.contact-section {
  margin-bottom: auto;
  background: white;
  padding: 70px 25px;
}

.title-contact {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.about-inner-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1.4rem;
  letter-spacing: 0.8px;
}

.about-inner-text-contact-footer {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1.4rem;
  /* letter-spacing: 0.8px; */
}
input[type='text'].form-control::-webkit-input-placeholder,
input[type='email'].form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  border-width: 0px;
  border: none;
  box-shadow: none;
  margin: auto;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.labelfor {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 0.7rem;
  font-weight: 900;
}

.form-control {
  border: 0;
  border-bottom: 1px solid rgb(204, 204, 204);
  border-radius: 0%;
  background: transparent;
  padding-left: 0;
}

.modal-header,
.modal-footer {
  border-radius: 0%;
  border: 0;
}

.btn-secondary {
  background: #c0b283;
  border: 0;
  border-radius: 0;
  font-weight: 700;
  font-size: 0.9rem;
  color: black;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  padding: 15px 10px;
}

.btn-secondary:hover {
  background: #373640;
  color: #c0b283;
}
.fa-angle-right {
  color: #000000;
  font-size: 1rem;
}
.fa-angle-right:hover {
  color: #c0b283;
}

.closing-toggle {
  color: #373640;
  position: absolute;
  right: 10px;
  top: 85px;
  z-index: 10;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}
.closing-toggle:hover {
  color: #373640;
}

/* ---- ABOUT ----  */

.about-section {
  margin: 40px 0;
  margin-bottom: auto;
  font-family: 'Montserrat';
  font-size: 0.7rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
  padding: 25px;
  background: rgb(255, 255, 255);
}
.about-section > img {
  /* border-radius: 50%; */
  width: 300px;
  align-items: center;
  display: block;
  /* border: 4px solid #c0b283; */
}

.aboutmehead-1 {
  color: #000000;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 'Montserrat';
}
.link-about {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
  margin-top: 40px;
  border-bottom: #c0b283 solid 5px;
}

.link-about:hover {
  color: #c0b283;
}
.link-about > i {
  left: 200px;
  bottom: 2px;
}

/* ---- PORTFOLIO----  */

.portfolio {
  margin: 40px 0;
}

/* .overlay-content-section img {
  width: 30%;
  height: auto;
} */

.project-content {
  background-color: #ffffff;
  min-height: 85vh;
  padding: 25px;
}

.ProjectName {
  color: #000000;
  margin-top: 0px;
  font-size: 1rem;

  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 500 !important;
  font-family: 'Montserrat', sans-serif;
}
.text-container-inner {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1.4rem;
  letter-spacing: 0.8px;
}
.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.541);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.gallery {
  display: none;
  margin: 10px 0;
}

.gallery > img:hover {
  transform: scale(2);
}

#btn-display {
  font-family: 'Montserrat', sans-serif;
  background: #c0b283;
  color: black;
  border: none;
  border-radius: 0%;
  font-size: 0.8rem;
  padding: 10px;
}

.links-port {
  margin-top: 100px;
}

.links-port > li {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 0.4rem;
}
.btn-custom {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background: #20202054;
  border: none;
  border-radius: 0%;
  font-size: 0.6rem;
}

/* ---- PORTFOLIO RIGHT PART ----  */

.right-test {
  min-height: 75vh;
  padding: 80px 0;
  text-align: center;
  background-color: #c0b283;
}
.menu__link {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 0.7rem;
  padding: 12px 0;
  font-weight: 100;
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #454d55;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.menu__link:hover {
  color: rgb(255, 255, 255);
}
.menu__list {
  list-style-type: none;
}
.projectsub {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #454d55;
}
/* ---- 13. MEDIA QUERIES ----  */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .subtitle-1 {
    left: 90px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .pictures-section {
    margin-top: 2rem;
  }
  /* .subtitle-1 {
    left: 110px;
  } */
  .bottom-nav > .nav-item > .nav-link {
    padding-left: 3rem;
  }
  .main-heading {
    font-size: 7rem;
  }

  .btn-rounded-gold {
    margin-top: 0px;
    margin-right: 10px;
  }

  .project-content {
    min-height: 78vh;
    padding-top: 50px;
    /* padding: 75px 75px 0 75px; */
  }
  .right-test {
    min-height: 70vh;
    padding-top: 50px;
  }
  .about-section {
    padding: 70px;
  }
  .contact-section {
    padding: 70px 70px 55px 70px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  width: 100%;
  vertical-align: middle;
}

/* .column img:hover {
  transform: scale(1.2);
} */

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
